.contactbox {
    width: 400px;
    height: 100px;
    border: 2px solid #000;
    border-radius: 10px;
}

button {
    width: 75px;
    height: 35px;
    border: 1px solid #bcbaba;
    border-radius: 8px;
    cursor: pointer;
}